/* Base layout */
.landing-page {
  background-color: #EEF3FF;
  font-family: 'Segoe UI', sans-serif;
  color: #000E29;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background-color: #EEF3FF;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.navbar-icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.site-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000E29;
  text-decoration: none;
}

.site-title:hover {
  text-decoration: underline;
}

.cta-button {
  background-color: #ffffff;
  color: #94C5CC;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #7ab1bb;
  color: white;
}

/* Intro section */
.intro-section {
  padding: 2rem;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  flex-wrap: wrap;
}

.intro-left {
  max-width: 500px;
  flex: 1;
  min-width: 300px;
}

.intro-title {
  display: flex;
  align-items: center;
  gap: .6rem;
  font-weight: bold;
  font-size: xx-large;
}

.intro-logo {
  width: 300px;
  height: 220px;
  padding-left: 50px;
}

.intro-desc {
  margin: 1rem 0;
  font-size: 1rem;
  color: #94C5CC;
  padding-left: 50px;
  font-weight: bold;
}

.intro-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-signup, .btn-login {
  padding-left: 50px;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-signup:hover, .btn-login:hover {
  background-color: white;
  color: #7ab1bb;
}

.btn-signup {
  background-color: #94C5CC;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-login {
  background-color: #94C5CC;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.disclaimer {
  font-size: 0.85rem;
  color: #A1A6B4;
  padding-left: 50px;
}

.disclaimer-link {
  color: #94C5CC;
  font-weight: 600;
  text-decoration: underline;
}

.disclaimer-link:hover {
  color: #7ab1bb;
}

.intro-image-right img {
  width: 220px;
  max-width: 100%;
}

/* Feature Sections */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
}

.feature-img {
  margin-top: 10rem;
  width: 500px;
  max-width: 90%;
}

.feature-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}
